html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-weight: 500;
  font-size: 15px;
  min-height: 100%;
  -ms-overflow-style: none;  /* scrollbar verstoppen voor internet explorer en microsoft edge */
  scrollbar-width: none;  /* scrollbar verstoppen voor firefox */
  text-shadow: 1.5px 1.5px black;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@media screen and (max-width:960px){
  #homet{

  }
}

@media screen and (min-width:960px){  /* website responsive maken */
  body{
    background-image: url("background8.jpg");
    background-size: 100% 122.5%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media screen and (max-width:960px) {
  body{
    background-image: url("marco.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

html::-webkit-scrollbar { /*scrollbar verstoppen  */
  display: none;
}

.wrapper{
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

.wrapper2{
  color: white;
  float: left;
  margin-left: 20px;
}

a, a:visited, a:hover, a:active { /* links geen streepje en andere kleur */
  color: inherit;
  text-decoration: none;
}
header{ /*header rechtsboven zetten */
  display: flex;
  align-self: flex-end;
  float: right;
  margin-top: -3%;

}
#title{
  color: white;
  font-size: 75px;
}

#drho{
  float: right;
  height: 55px;
  width: 300px;
}

#bk{ /* knop rechtsboven menu zetten */
  float: right;
}

.link:hover{
  color: grey;
}

.link{
  text-decoration: underline;
  text-decoration-style: dashed;

}

#menulogo{
  float: right;
  display: block;
  padding: 0 16px;
  cursor: pointer;display: inline-block;
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  width: 25%;
  height: 2%;
}



article, section, header{
  padding: 1% 2%  0 ;
}

body {
  margin: 0px;
  position: relative;
  margin: 0;
  min-height: 100%;
}

footer { /*footer laten plakken aan onderkant van website */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(46, 46, 48, 1);
  padding: 2% 0 2% 0;
  width: 100%;
  margin-top: auto;
  font-weight: 500;
  z-index: 5;
  position: -webkit-sticky;
  float: inherit;
  overflow: hidden;
  margin: 0 auto;
  line-height: inherit;
  display:flex;
  justify-content:center;
  align-items: center;
}

.footerimg {
  float: right;
  margin-right: 60px;
  margin-top: -45px;
  opacity: 0.5
}

.footerimg2 {
  float: left;
  margin-left: 50px;
  margin-right: 0px;
  margin-top: -5px;
  padding-top: -20px;
  opacity: 0.5;
  height: 75px;
  width: 300px;
}

footer p{ /* tekst footer in midden van footer zetten */
  color: white;
  opacity: 0.25;
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
}

.vidgvb{ /* container opmaken */
  border-top: 8px solid #1C6EA4;
  border-radius: 1px;
  border-color: rgb(0, 0, 0, 1);
  background-color: rgb(40, 40, 40, 0.75);
  font-size: 12px;
  flex: 1;
  padding-left: 25px;
  padding-right: 25px;

}

.fotgvb{ /* container opmaken */
  border-top: 8px solid #1C6EA4;
  border-radius: 1px;
  border-color: rgb(0, 0, 0, 1);
  background-color: rgb(40, 40, 40, 0.75);
  font-size: 12px;
  flex: 1;
  margin-left: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
}

.fotgvb:first-child{
  margin-right: 20px;
}

.vidgvb:first-child{
  margin-right: 20px;
}

.gvb{ /* alles naast elkaar */
    display: flex;
    width: 25%;
    margin-top: 13.5%;
    resize: none;
}


table, tr, td, th{
  font-style: normal;
  border: 6px solid;
  border-collapse: collapse;
  text-align: center;
  border-color: black;
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
  font-weight: bold;
  font-size: 50px;
  margin: auto;
  margin-top: 10%;
  padding: 10px;
}

.valt{ /* tekst onder afbeeldingen en videos zetten in het midden zetten*/
  text-align: center;
}

nav { /* menu bovenste laag maken en laten plakken aan bovenkant */
  z-index: 5;
  position: -webkit-sticky;
  position: sticky;
  float: inherit;
  top: 0;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background: #1e8449;
  color: #f0f0f0;
  background-color: rgba(0, 0, 0, 1);
  padding: 0px;
  height: 55px;
  min-width: 100%;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

nav a {
  display: block;
  padding: 0 16px;
  line-height: inherit;
  cursor: pointer; /* cursor zelfde laten zijn als altijd bij het hoveren over een knop in het menu */
}
.nav-menu {
  line-height: 55px;
  font-weight: 700;
  text-transform: uppercase; /* alle tekst in menu hoofdletters */
}
.nav-menu-item {
  display: inline-block;
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  transition: all 0.125s ease-in; /* tijdens het hoveren over menu knop 0.125s voor kleur veranderen */
}
.nav-menu-item:hover {
  background-color: rgba(150, 150, 150, 1);
}
.nav-menu-item:hover .nav-submenu {
  background-color: rgba(150, 150, 150, 1);
  display: inline;
  transform: translateY(0);
  opacity: 1;
}
.nav-submenu {
  font-weight: 300;
  text-transform: none;
  position: fixed;
  overflow: none;
  width: 220px;
  background-color:rgba(0, 0, 0, 1);
  display: none;
  top: 55px;
  max-width: 135px;
}

.nav-submenu-item {
  background: rgba(0, 0, 0, 1);
  opacity: 0;
  font-weight: 500;
  transition: all 0.125s ease-in;
  transform: translateY(-10px);
}
.nav-menu:hover .nav-submenu-item {

  transform: translateY(0);
  opacity: 1;
}

.nav-submenu-item:hover {
  background: rgba(150, 150, 150, 1);
}
